* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000;
}
@mixin size($f_w, $f_s, $l_h) {
  font-weight: $f_w;
  font-size: $f_s;
  line-height: $l_h;
}
%button {
  border: 1px solid transparent;
  padding: 8px 16px;
  @include size(700, 16px, 24px);
  background-color: #00BAFC;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
%text_desc {
  @include size(400, 16px, 24px);
}
.df {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
}
.nav {
  padding: 0 100px;
  justify-content: space-between;
  .header__right {
    gap: 8px;
    .header__list {
      list-style: none;
    }
  }
  .header__btn {
    .header__button {
      @extend %button;
      font-size: 15px;
    }
  }
}
.header__item {
  padding: 16px;
  .header__link {
    text-decoration: none;
    color: #000;
  }
}
.hero {
  padding: 80px 100px;
  gap: 172px;
  .hero__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .hero__title {
      @include size(700, 30px, 39px)
    }
    .hero__desc {
      @extend %text_desc;
    }
    .hero__btn {
      @extend %button;
      width: 240px;
    }
  }
}
.xizmatlar__text {
  text-align: center;
  padding-top: 50px;
  .xizmatlar__title {
    @include size(700, 24px, 30px)
  }
  .xizmatlar__desc {
    @extend %text_desc;
    padding: 16px 0;
  }
}
.xizmatlar__list {
  padding: 0 100px;
  display: flex;
  gap: 48px 70px;
  flex-wrap: wrap;
  justify-content: center;
  .xizmatlar__item {
    padding: 24px 0;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    img {
      padding: 0 54px 16px;
    }
    .xizmatlar__item__title {
      padding-bottom: 12px;
    }
  }
}
.xizmatlar__btns {
  padding-top: 40px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  .xizmatlar__btn {
    @extend %button;
  }
  .xizmatlar__link {
    color: #00BAFC;
    @extend %text_desc;
  }
}
.step {
  text-align: center;
  padding: 56px 0;
  .step__head{ 
    padding-bottom: 16px;
    .step__title {
      @include size(700, 24px, 31px);
      padding-bottom: 16px
    }
    .step__desc {
      @extend %text_desc;
    }
  }
  .step__list {
    display: flex;
    align-items: center;
    justify-content: starts;
    gap: 48px;
    flex-direction: column;
    .step__item {
      display: flex;
      align-items: center;
      gap: 32px;
      .step__item__text{
        text-align: start;
      }
      .step__item__text {
        h3 {
          @include size(700, 20px, 26px);
          padding-top: 8px
        }
        p{ 
          @extend %text_desc;
        }
      }
    }
  }
  .step__btn {
    margin-top: 40px;
    @extend %button;
  }
}
.buyurtma {
  background-color: #00BAFC;
  padding: 56px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .buyurtma__head {
    text-align: center;
    .buyurtma__title {
      color: #fff;
      @include size(700, 24px, 31px);
    }
    .buyurtma__desc {
      @extend %text_desc;
      color: #fff;
      padding: 16px 0;
    }
  }
  .getForm {
    padding: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 5px;
    position: relative;
    .getForm__name, .getForm__tel, .getForm__select {
      padding: 16px;
      @extend %text_desc;
      outline: none;
      border: none;
      background-color: #f3f3f3;
      border-radius: 5px;
      width: 300px;
    }
    .getForm__select {
      appearance: none;
      position: relative;
    }
    .icons {
      width: 56px;
      height: 56px;
      position: absolute;
      right: 24px;
      top: 168px;
      background-color: #00BAFC;
      border-radius: 5px;
      pointer-events: none;
      cursor: pointer;
      i {
        color: #fff;
        font-size: 40px;
      }
    }
    .getForm__name::-webkit-input-placeholder, 
    .getForm__tel::-webkit-input-placeholder {
      color: #000;
      @extend %text_desc;
    }
    .getForm__btn {
      @extend %button;
      width: 170px;
    }
  }
}
footer {
  display: flex;
  padding-top: 30px;
  background-color: #191919;
  .footer-one {
     padding: 0 100px 0 100px;
     .footer__one__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 16px;
        color: #fff;
     } 
     .footer__one__desc {
      color: #fff;
      font-size: 15px;
     }
  }
  .footer-two {
     padding: 0 87px 56px 0;
     .footer__two__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 16px;
        color: #fff;
     }
     .footer__two__link {
        color: #fff;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 8px;
     }
     .footer__two__link:last-child {
        padding-bottom: 0px;
     }
  }
  .footer-three {
     .footer__three__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #fff;
        padding-bottom: 16px;
     }
     .box-item {
        img {
           padding-right: 8px;
        }
        h5 {
          color: #fff;
           font-weight: 500;
           font-size: 16px;
           line-height: 24px;
        }
        display: flex;
        align-items: center;
        padding-bottom: 8px;
     }
  }
}
